
.bodycontainer {
    max-height: 450px;
    width: 100%;
    margin: 0;
    overflow-y: auto;
    font-size: 25px;
    text-align: right;
}

.table-scrollable {
    margin: 0;
    padding: 0;
}

.circle {
    width:20px;
    height:20px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    vertical-align: middle;
    border: 1px solid deepskyblue !important;
    border-top: 1px solid deepskyblue !important;

}
table {
    border-collapse: collapse;
}

.tborders>tbody>tr>td,
.tborders>tbody>tr>th,
.tborders>tfoot>tr>td,
.tborders>tfoot>tr>th,
.tborders>thead>tr>td,
.tborders>thead>tr>th {
    border: 2px solid black;

}